{% extends 'base.html' %}
{% load static %}



		{% block menu %}
		<div id="menu">
			<ul>
				<li class="first active">
					<a href="http://127.0.0.1:8000/doctor/">Home</a>
				</li>
				<li>
					<a href="http://127.0.0.1:8000/doctor/add/">Add Disease</a>
				</li>
				<li>
					<a href="http://127.0.0.1:8000/doctor/chat/">Chat</a>
				</li>
				<li>
					<a href="http://127.0.0.1:8000/doctor/dloc/">Location wise Disease</a>
				</li>
				<li>
					<a href="http://127.0.0.1:8000/login/">Logout</a>
				</li>
				
			</ul><br class="clearfix" />
		</div>
		{% endblock %}

{% block content %}

{{output}}
<br>
<h1>Add Disease Location wise</h1><br>

<form method="POST" enctype="multipart/form-data" action='http://127.0.0.1:8000/doctor/dloc/' >
{% csrf_token %}
<table cellspacing="20">

<tr>
<td>City Name</td>
<td><input type="text" name="city" placeholder="Enter city name" style="border-radius: 5px; width : 250px; height : 28px ; padding-left:5px;" /> </td>
</tr>

<tr>
<td>Disease Spreading</td>
<td><input type="text" name="dsp" placeholder="Enter Disease names" style="border-radius: 5px; width : 250px; height : 28px ;" /></td>
</tr>

<tr>
<td>Animal Affected </td>
<td><input type="text" name="ani" placeholder="Enter Animal names" style="border-radius: 5px; width : 250px; height : 28px ; padding-left:5px;" /> </td>
</tr>

<!-- <tr>
<td>Category Icon</td>
<td><input type="file" name="caticon"  style="border-radius: 5px; width : 250px; height : 28px ; padding-left:5px;" /> </td>
</tr> -->

<tr>
<td><input type="submit" value="Add" style="border-radius: 5px;  height : 35px ; text-align: center; width : 100px;" /> </td>
</tr>

</table>
</form>


{% endblock %}